@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@300;400;500;600;700&family=Josefin+Sans:ital,wght@0,400;0,600;0,700;1,400&family=Montserrat&family=Roboto+Slab:wght@300;400;500;600&family=Source+Code+Pro:wght@200&display=swap");

body {
    font-family: 'Bai Jamjuree', sans-serif;
    margin: 0;
    // background-color: #37FF8B;
    background: linear-gradient(to right, #a8ff78, #78ffd6);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #231E39;

    .layout-body {
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 10px;
    }
}