.sign_in {
  max-width: 400px;
  margin: auto;
  margin-top: 20px; }

.btn-primary {
  margin-top: 10px; }

.btn {
  background-color: gold;
  color: black; }

.btn:hover {
  background-color: lime;
  color: black; }
